@import 'variables';
/*banner*/


.banner{
	background-image: url("../images/rotate3.png");
	position: relative;
	background-size: cover;
	margin-bottom: 2rem;
	width: 100%;
	height: 400px;

	div{
		position: absolute;
		bottom: 1rem;
		right: 1rem; 
		width: 60%;
		
		#tagline{
		color: $color-darkest-med;
		font-size: 1.8em;
		font-family: 'Bree Serif', serif;
		}
	}
}

@media (min-width: 568px){
	.banner div{
		bottom: 10vw;
	}
}

@media (min-width: 768px){
	.banner div{
		width: 100%;
		top: 30%;
		bottom: 0;
		right: 0;
		left: 0; 
		text-align: center;
	}
}

@media (min-width: 64em){
	.banner{
		height: 800px;
		
		div{
			top: 20vw;
			right: 5.5vw; 
			
			#tagline{
				font-size: 2.2em;
			}
		}
	}	
}
