@import 'variables';
/*banner*/


.banner{
	/*background-image: url("../images/color_angle_chopped.jpg");*/
/*	background-image: url("../images/color_angle_close.jpg");
*//*	background-image: url("../images/color_angle.jpg");
*/		
	position: relative;
/*	filter: blur(1px);
*/	
	/*margin-bottom: 3rem;*/
	width: 100%;
	height: 400px;

	div{
		position: absolute;
		
	}

	.background{
		background-image: url("../images/color_angle_second.jpg");
		background-size: cover;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.overlay{
		background-image: url("../images/darkest_med_circle.svg");
		background-size: 3px;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 2;
	}
		
	.tagline{
		z-index: 3;
		height: auto;
		top: initial;
		left: 5.5%;

		bottom: 5.5%;
		/*background-color: red;*/

		h2 {
			color: $color-white;
			font-size: 2.2em;
			font-family: 'Bree Serif', serif;
			text-transform: capitalize;
			text-shadow: 2px 2px 2px black;
			line-height: 1.4em;
		}
	}
}

@media (min-width: 568px){
	.banner div{
		bottom: 10vw;
	}
	.banner .tagline{

		h2{
			font-size: 2.2em;
		}
	}
}

@media (min-width: 768px){
	/*.banner .tagline h2{
		font-size: 2em;
		transition: 0.4s;
	}*/

	.banner .tagline{
		bottom: 18%;
		left: 10%;
		h2{
			font-size: 2.6em;
		}

	}
}

@media (min-width: 64em){
	.banner{
		height: 553px;

		.tagline{			
			h2{
				font-size: 3.6em;
				/*line-height: 1.6em;*/
			}
		}
	}	

}

@media (min-width: 80em){
	.banner{
		height: 800px;
	}
}
