/*Color Variables*/

$color-darkest: #133c2a;
$color-dark: #267855;
$color-medium: #b1ddb1;
$color-light: #d9f2d9;
$color-lightest: #ecf8ec;
$color-complement: #996AAB;
$color-white: #ffffff;


$color-yellow-light: #f5e2ba;
$color-yellow: #edce8c;
$color-yellow-dark: #c1a07a;


/*Transparent Color Variables*/

$color-darkest-trans: rgba(19, 60, 42, 0.9);
$color-darkest-light: rgba(19, 60, 42, 0.3);
$color-darkest-med: rgba(19, 60, 42, 0.6);

$color-dark-light: rgba(38, 120, 85, 0.3);
$color-dark-med: rgba(38, 120, 85, 0.7);
$color-dark-dark: rgba(38, 120, 85, 0.9);

$color-white-trans: rgba(255, 255, 255, 0.8);
$color-white-med: rgba(255, 255, 255, 0.6);
$color-white-light: rgba(255, 255, 255, 0.4);

$color-complement-light: rgba(153, 106, 171, 0.3);

