/*Greens*/
$color-darkest: #133c2a;
$color-darkest-trans: rgba(19, 60, 42, 0.9);
$color-darkest-opaque: #436355;


/*Yellows*/
$color-yellow-light: #f5e2ba;
$color-yellow: #edce8c;
$color-yellow-dark: #c1a07a;
$color-yellow-darkest: #93785f;


/*Whites*/
$color-white-trans-opaq: #d4e4dd;


/*greys*/
$color-transparent-grey: rgba(0, 0, 0, 0.2);
$color-transparent-black: rgba(0, 0, 0, 0.8);
$color-grey: #B0B0B0;

/*blues*/
$color-blue: #0364d5;