/*Custom Worksheet Generator*/

.custom-container{
	background-color: yellow;
}

.custom-container section{
	background-color: green;
}

.slide-container{
	width: 100%;
	background-color: red;
}

.slider{
	width: 80%;
	height: 20px;
}
@media screen and (min-width: 48em){

}
	
@media screen and (min-width: 80em){

}


