@import 'variables';
/*header*/


/*general header formatting*/
header {
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	background-color: $color-darkest;

	a{
		text-decoration: none;
	}
}







/*logo and title*/
.title{
	width: 100%;
	padding: 1rem 5.5% 1rem 5.5%;
	display: flex;
	justify-content: flex-start;

	div{
		display: inline-block;
	}

	img{
			height: 60px;
			margin-top: 0.2rem;
		}

	h1{		
		background: linear-gradient(30deg, $color-yellow-light 33%, $color-yellow, $color-yellow-light 90%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 1.8rem;
		margin: 0 0 0 1rem;
		font-weight: 300;
	}

	span{
		font-weight: 600;
	}
}

@media (min-width: 35.5em){
	.title{
		height: 105px;
	}
}

@media (min-width: 768px){
	.title{
		padding-left: 5.5%;
	}
}

@media screen and (min-width: 64em){
	.title{
		height: 135px;

		h1{
			font-size: 2.2em;
			margin: 0 0 0 2rem;
		}

		img{
			height: 82px;
		}
	}
}







/*main menu*/
.menu{
	height: 30px;
	padding: 0 5.5% 0 5.5%;
	background-color: rgba(255, 255, 255, 0.2);

	.menu-margin{
		width: 100%;
		float: right;
		display: flex;
		justify-content: space-between;
		height: 100%;

		> li{
			display: inline-block;
			height: 100%;
			display: flex;
			align-items: center;			
			flex-grow: 1;	
		}

		>li:last-child{
			justify-content: flex-end;
		}

		/*Targets the menu item (including the dropdown menu item) to
		highlight which item is hovered over or tabbed over.*/
		> li:hover:not(:last-child),
		> li:focus-within:not(:last-child) {
			background-color: $color-darkest;
		}
	}

	a{
		color: #fff;
		font-size: 0.8em;
	}

	button{
		background-color: transparent;
		border: 0;
	}

	.link{
		opacity: 1;
		padding-top: 0.5em;
		padding-bottom: 0.3em;
		height: 100%;
		text-align: center;	
		width: 100%;
	}

/*	when javascript is loaded, the "hide" class is added to every menu item
	so the main menu collapses when the screen is small.*/
	.hide{
		visibility: hidden;
		opacity: 0;
	}

	.highlight{
		background-color: rgba(255, 255, 255, 0.8);
		color: $color-darkest;
		font-weight: 500;
	}
}

@media screen and (min-width: 35.5em){
	.menu {
		height: 37px;

		a{
			font-size: 1em;
		}
	}
}

@media (min-width: 768px){
	.menu{
		.menu-margin{
			max-width: 400px;
		}

		/*When the viewport is large, the hide class makes each menu item visible*/
		.link, .hide{
			visibility: visible;
			opacity: 1;
		}
	}
}

@media screen and (min-width: 64em){
	.menu{
		height: 47px;

		.menu-margin{
			max-width: 500px;
		}
		
		a{
			font-size: 1.2em;
		}	
	}
}

@media screen and (min-width: 80em){
	.menu{
		.menu-margin{
			max-width: 700px;
		}
	}
}







/*hamburger menu*/

/*the top and bottom border make up the top and bottom bars of the hamburger menu.
The interior of the hamburger is transparent.*/
.hamburger{
	width: 20px;
	height: 16px;
	float: right;
	background: transparent;
	border-top: 2px solid;
	border-bottom: 2px solid;
	transition: all .05s ease-in-out;
	color: #fff;
	display: block;
	position: relative;
	cursor: pointer;
	margin-top: auto;

	/*The centre line of the hamburger is made up of overlaping "before" and "after" elements.*/
	&:before,
	&:after {
	    content: '';
	    display: block;
	    width: 100%;
	    height: 2px;		    
	    position: absolute;
	    top: 50%;
	    left: 50%;		
	    color: #fff;
	    background: currentColor;		    
	    transform: translate(-50%, -50%);
	    transition: transform .25s ease-in-out;
	}
}

.hamburger:hover{
	color: $color-darkest;

	&:before,
	&:after {
		color: $color-darkest;
	}
}

/*"before" and "after" transform into a cross when the hamburger is clicked*/
.active{
	border-color: transparent;

	&:before{
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&:after{
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

@media screen and (min-width: 768px){
	/*The hamburger menu is hidden when the viewport is large*/
	.menu-margin li:last-child{
		display: none;
	}
}







/*dropdown menu*/
#levels{
	position: relative;

	ul{		
		position: absolute;
		top: 30px;
		height: 40px;
		width: 91px;
		visibility: hidden;
		opacity: 0;

		li{
			display: block;
			background-color: $color-darkest-opaque;
			padding-left: 0.5rem;
			height: 30px;
			padding-top: 0.3em;
		}

		/*This targets hovered items when inside the dropdown menu.
		It also works when tabbing through the menu. */
		li:hover,
		li:focus-within {
			background-color: $color-darkest;
		}
	}
}

/*This targets the entire dropdown menu making it visible when
hovered over or when tabbing through.*/
#levels:hover ul,
#levels:focus-within ul{
	visibility: visible;
	opacity: 1;
}

@media screen and (min-width: 568px){
	#levels{
		ul{
			width: 110px;
			top: 37px;

			li{
				height: 35px;
				padding-top: 0.5em;
			}
		}
	}
}

@media screen and (min-width: 64em){
	#levels{
		ul{
			top: 47px;
			width: 131px;

			li{
				height: 45px;
				padding-top: 0.7em;
			}
		}
	}
}






























