@import 'variables';
@import 'mixins';

/*Beginner, Intermediate and Advanced pages use this formatting*/



.levels{
	width: 100%;

	section:nth-child(2){
		padding-bottom: calc(3rem - 24px);
	}

	section:first-child{
		padding-bottom: 0;
		h1{
			margin-top: 0;
		}
	}
	
	section:last-child{
		padding-top: 0;
		margin-bottom: 1rem;
	}

	.arrow{
		width: 100%;
		height: 60px;

		a{
			text-decoration: none;
		}

		img{
			width: 70px;
			margin-top: 0.5rem;
			display: block;
		}

		div{
			width: 50%;
			display: inline-block;
		}

		.arrow-left{
			float: left;
			img{				
				margin-left: 0;
			}
		}

		.arrow-right{
			text-align: right;

			float: right;
			img{
				margin-right: 0;
				float: right;
			}
		}
	}

	.test{
		clear: both;
	}
}

@media screen and (max-width: 35.5em){
	.arrow{
		h4{
			font-size: 1em;
		}	
	}
}

@media screen and (min-width: 35.5em){
	.levels{
		.arrow{
			height: 65px;
		}
	}
}



@media screen and (min-width: 64em){
	.levels{
		section:nth-child(2){
			padding-bottom: calc(4.5rem - 24px);
		}

		.arrow{
			max-width: none;
			height: 85px;

			img{
				width: 70px;
			}
		}
	}
}







/* Modal Button */
.levels-button{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: calc(100% - 6px);

	> div{
		width: 100%;
		margin: auto;

		.modal-button{			
			@include button-border($color-darkest-opaque, rgba(255, 255, 255, 0.8));
			background-image: linear-gradient(to bottom, $color-darkest 30%, $color-darkest-opaque);
			width: 100%;
			margin-bottom: 1.5rem;
			padding: 1em 0 0.5em 0;
			
			h4{
				font-family: 'Open Sans', sans-serif;
				color: $color-yellow-dark;
				letter-spacing: 0.1em;
			}

			p{
				font-size: 0.9rem;
				color: rgba(255, 255, 255, 0.8);
				padding-bottom: 0.5em;
				line-height: 1.4em;
				font-weight: 300;
			}
		}
	}
}



@media screen and (min-width: 35.5em){
	.levels-button{
		> div{
			width: calc((100% - 5.5vw - 18px) / 3);
			margin: 0;
		}
	}
}



@media screen and (min-width: 768px){
	.levels-button{
		> div{
			.modal-button{
				p{
					font-size: 1rem;
				}
			}	
		}	 
	}
}



@media screen and (min-width: 64em){
	.levels-button{	
		width: 100%;
		max-width: none;

		> div{
			.modal-button{
				border-radius: 8px;

				p{
					font-size: 1.2rem;
				}
			}
		}
	}
}



@media screen and (min-width: 80em){
	.levels-button{
		> div{
			.modal-button{
				margin-bottom: 2.5rem;
			
				p{
					font-size: 1.4rem;
				}
			}
		}
	}
}
