.modal2{
/*	display: none;	*/
	/*background-color: green;*/
	z-index:3;
	display:none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgba(0,0,0,0.8);
}



/*.generate-button:hover .modal2{
	display: block;
}*/