@import 'variables';
@import 'mixins';


/* Modal layout */
.modal {
	z-index:3;
	display:none;
	padding-top:44px;
	padding-bottom: 48px;
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	overflow: auto;
	background-color:rgba(0,0,0,0.8);

	.modal-content {
		margin:auto;
		background-color: $color-white;
		width: calc(100% - 11%);
		border-radius: 6px;
		
		p{
			color: 	#B0B0B0;
		}

		.intro{
			width: 100%;

			section{
				padding-left: 5.5vw;
				padding-right: 5.5vw;
			}	
		}

		.print-container{
			width: 100%;
			text-align: center;
		}

		button{
			@include button-border(#436355, $color-white-trans);
			background-color: $color-darkest;
			margin-bottom: 3rem;
			padding: .5em 2em;

			h4{
				background: linear-gradient(to right, $color-yellow-light, $color-yellow 80%, $color-yellow-dark);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

	.modal-x{
		position: absolute;
		top: 59px;
		right: 11vw;
		font-size: 2.5em;
	}

	.modal-x:hover{
		cursor: pointer;
	}
}

@media screen and (min-width: 64em){
	.modal{
		padding-top: 53px;

		.modal-content{
			button{
				margin-bottom: 4.5rem;
			}
		}
	}
}



/* Table */
.exterior-table{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'B612 Mono', monospace;
	width: 95%;
	margin-left: 0;

	table, td, th{
		border-collapse: collapse;
	}

	table{
		margin-bottom: 3rem;
		width: 20%;
		flex-grow: 1;
		font-size: 0.8em;
	}

	.big-table{
		width: 100%;
		font-size: 1em;

		th,
		td{
			padding-right: 35%;

		}
	}
	
	td{
		text-align: right;
		padding-right: 10%;
	}

	th{
		color: $color-darkest;
		text-align: right;
		padding-right: 10%;
	}

	td span{
		border-bottom: 1px solid black;
	}
}

@media screen and (min-width: 35.5em){
	.exterior-table{
		.big-table{
			width: 20%;
			font-size: 0.8em;

			th,
			td{
				padding-right: 0%;
			}
		}
	}
}

@media screen and (min-width: 48em){
	.exterior-table{
		width: 93%;

		table,
		.big-table{
			width: 20%;
			font-size: 1em;
		}
	}
}

@media screen and (min-width: 64em){
	.exterior-table{
		width: 97%;

		table{
			width: 10%;
			margin-bottom: 4.5rem;
		}
	}

	.big-exterior{
		width: 90%;
	}
}

@media screen and (min-width: 80em){
	.exterior-table{
		table{
			width: 10%;
		}
		.big-table{
			width: 20%;
		}
	}
}



/* Print */
@media print{
	header, 
	.custom-banner,
	content,
	footer {
			display: none;
		}

	#print {
		display: none;
	}

	.modal{
		padding-top: 0;
		padding-bottom: 0;
		position: static;

		.modal-content{
			width: 100%;
			border-radius: 0;
			max-width: initial;

			.intro section{
				padding-left: 13mm;
				padding-top: 0;
				padding-bottom: 15pt;
			}
		
			table,
			.big-table{
				margin-left: 15pt;
				margin-bottom: 45pt;
				width: 60pt;
				font-size: 14pt;
				page-break-inside: avoid;	
			}

			.big-table{
				width: 120pt;

				td,
				th{
					padding-right: 20%;
				}
			}

			table{
				td,
				th{
					padding-right: 10%;
				}
			}

			p{
				font-size: 16pt;
			}

			aside{
				width: 100%;
			}

			aside div{
				height: 36px;
			}
		}

		.modal-x{
			display: none;
		}
	}

	.exterior-table{
		margin-top: 5pt;
		width: 100%;
		padding-right: 20px;
	}
	
	.exterior-table:last-child{
		margin-top: 0;
		padding-bottom: 0;
	}

	.break{
		page-break-after: always;
	}
	
	.break-before{
		page-break-before: always;
	}
}

@page{
	size: landscape;	
	margin-left: 0;
	margin-right: 5mm;
}

