@import 'variables';
@import 'mixins';










/* Modal layout */

.modal {
	z-index:3;
	display:none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgba(0,0,0,0.8);
}

.modal-content {
	margin:auto;
	background-color:#fff;
	padding: 1rem;
	width:80%;
	border-radius: 6px;
	max-width: 391px;
	}


@media screen and (min-width: 603px){
	.modal-content {
		max-width: 661px;
	}
}





/*Meta data text box*/
.intro{
	width: 100%;
	display: flex;
	justify-content: space-between;
}


.modal p{
	color: 	#D3D3D3;
}








/* Table */

.exterior-table{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'B612 Mono', monospace;

}

.modal table, .modal td, .modal th{
	border-collapse: collapse;
}

.modal table{
	margin-bottom: 30px;
	width: 90px;
}


.modal td, .modal th{
	text-align: right;
}

.modal th{
	color: 	#D3D3D3;
}


.modal tr:last-child{
	border-bottom: 1px solid black;
}




/* Print */
@media print{
	.modal table{
		margin-left: 15pt;
		margin-bottom: 45pt;
		width: 60pt;
		font-size: 14pt;
	}
	.exterior-table{
		margin-top: 5pt;
	}
	.modal p{
		font-size: 8pt;
	}
	.modal aside{
		width: 100%;
	}
	.modal aside div{
		height: 36px;
	}
	.modal-content{
		width: 100%;
		max-width: initial;
	}
	.modal span{
		display: none;
	}
	.modal {
		padding-top:0px;
	}
}

@page{
	size: landscape;	
}

