<header class="pure-g">

  <div class="pure-u-1 menu" >
      <div class="menu-margin">
        <a class="link"  href="http://localhost:4567/dir/abacus.html">abacus</a>
        <a class="link"  href="http://localhost:4567/dir/skills.html">skills</a>
        <a class="link"  href="http://localhost:4567/dir/custom.html">custom</a>
        <a class="link"  href="http://localhost:4567/dir/about.html">about</a>
        <a>
          <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </a>
      </div>
  </div>

  
  <div class="pure-u-1 title">
      <a href="/">
      <img src="../images/greencircle.svg">
      </a>
     <!--  <a href="/"> -->

      <!-- <div class="circle">
        <img src"../images/yellow_beads.svg">
      </div> -->
     <!--  </a> -->
      <div>
        <a href="/">
        <h1><span>Progressive</span><br>Abacus</h1>
        </a>
      </div>
  </div>

<!--     <div>
    <a href="/">
    <h1>Progressive Abacus</h1>
    </a>
    </div>
  </div>

  <div class="pure-u-1">
    <h4>Printable abacus questions for all skill levels</h4>
  </div> -->

</header>