<header>

  <nav class="menu" role="navigation">    
      <ul class="menu-margin" >
        <li >
          <a class="link" href="http://localhost:4567/">home</a>
        </li>
        <li >
          <a class="link"  href="http://localhost:4567/dir/abacus.html">abacus</a>
        </li>
        <li >
          <a class="link"  href="http://localhost:4567/dir/skills.html">skills</a>
        </li>
        <li  id="levels">
          <a href="http://localhost:4567/dir/beginner.html" class="link">levels</a>
          
          <ul>
            <li>
              <a href="http://localhost:4567/dir/beginner.html">Beginner</a>
            </li>
            <li>
              <a href="http://localhost:4567/dir/intermediate.html">Intermediate</a>
            </li>
            <li>
              <a href="http://localhost:4567/dir/advanced.html">Advanced</a>
            </li>
          </ul>

        </li>
        <li >
          <a class="link"  href="http://localhost:4567/dir/custom.html">custom</a>
        </li>
        <li>
          <a href="#" class="click-hamburger"><div class="hamburger"></div></a>
        </li>
      </ul>
  </nav>

  
  <div class="title">
      <a href="/">
      <div>
          <img src="../images/abacus_logo.svg">
        <div>
          <h1><span>Progressive</span><br>Abacus</h1> 
        </div>
      </div>
      </a>
  </div>
</header>