<header class="pure-g">
  <div class="pure-u-1 toggle">
    <h3>III</h3>
  </div>
  <div class="pure-u-1 menu">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="http://localhost:4567/dir/abacus.html" class="pure-menu-link menu">abacus</a></li>
        <li class="pure-menu-item"><a href="http://localhost:4567/dir/skills.html" class="pure-menu-link menu">skills</a></li>
        <li class="pure-menu-item"><a href="http://localhost:4567/dir/progression.html" class="pure-menu-link menu">progression</a></li>
        <li class="pure-menu-item"><a href="http://localhost:4567/dir/custom.html" class="pure-menu-link menu">custom</a></li>
        <li class="pure-menu-item"><a href="http://localhost:4567/dir/about.html" class="pure-menu-link menu">about</a></li>
      </ul>
    </div>
  </div>
  
  <div class="pure-u-1 title">
    <a href="/">
    <div>
    <h1>Progressive Abacus</h1>
    </div>
    </a>
  </div>
  <div class="pure-u-1">
    <h4>Printable abacus questions for all skill levels</h3>
  </div>













  <!-- <div class="pure-u-1-2">
    <h1>Progressive Abacus</h1>
  </div>
  <div class="pure-u-1-2">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="http://localhost:4567/dir/abacus.html" class="pure-menu-link menu">abacus</a></li>
        <li class="pure-menu-item"><a href="http://localhost:4567/dir/skills.html" class="pure-menu-link menu">skills</a></li>
        <li class="pure-menu-item"><a href="http://localhost:4567/dir/progression.html" class="pure-menu-link menu">progression</a></li>
        <li class="pure-menu-item"><a href="http://localhost:4567/dir/custom.html" class="pure-menu-link menu">custom</a></li>
        <li class="pure-menu-item"><a href="http://localhost:4567/dir/about.html" class="pure-menu-link menu">about</a></li>
      </ul>
    </div>
  </div>
  <div class="pure-u">
  <h4>Printable worksheets targeting specific abacus techniques for every skill level.</h4>
  </div> -->
</header>