

<div id="id01" class="modal">
	<div class="modal-content">
		<div class="intro">
			<section>
			</section>
			<span class="modal-x">&times;</span>
		</div>

		<div class="exterior-table">
		</div>

		<div class="print-container">
			<button id="print">
				<h4>Print</h4>
			</button>
		</div>
	</div>
</div>