

<div id="id01" class="modal">

	<div class="modal-content">
		<div class="intro">
			<section>
<!-- 					<h2>Beginner Level 1 Questions</h2>
					<p>This is some information for the abacus question page to keep a record of the level, the date and any other meta data.</p>
 -->			</section>
			<!-- <span class="w3-button w3-display-topright modal-x">&times;</span> -->
			<span class="modal-x">&times;</span>
		</div>
		<div class="exterior-table break">
		</div>
		<div class="exterior-table">
		</div>

		<!-- 10 questions with 6 - 9 digits and 20 numbers -->
		<!-- <div class="exterior-table break">
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
		</div>
		<div class="exterior-table">
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
		</div> -->
		








		<!-- 10 questions with less than 6 digits and 20 numbers-->
		<!-- <div class="exterior-table">
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
		</div> -->







		<!-- 20 questions less than 6 digits and less than 11 numbers -->
		<!-- <div class="exterior-table">
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td><span>+</span><span>12345</span></td>
				</tr>
			</table>
		</div> -->
			






		<!-- 20 questions with 9 digits and 10 numbers	 -->
		<!-- <div class="exterior-table">
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
		</div>
		<div class="exterior-table">
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
		</div> -->
		













		<!-- 30 questions less than 6 numbers and less than 6 digits-->
<!-- 		<div class="exterior-table">
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>5</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td><span>+</span><span>1</span></td>
				</tr>
			</table>
		</div> -->





		<!-- 30 questions lots of digits and less than 6 numbers -->
		<!-- <div class="exterior-table break">
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
		</div>

		<div class="exterior-table">
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td>123456789</td>
				</tr>
				<tr>
					<td><span>+</span><span>123456789</span></td>
				</tr>
			</table>
		</div> -->	
	</div>
</div>