<!-- modal 2 for the custom button -->

<div id="id02" class="modal2">Working
	<div class="modal-content">
		<div class="intro">
			<section>
					<h2>Beginner Level 1 Questions</h2>
					<p>This is some information for the abacus question page to keep a record of the level, the date and any other meta data.</p>
			</section>
			<span class="w3-button w3-display-topright modal-x">&times;</span>
		</div>

		<div class="exterior-table">
			<!-- <table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>22</td>
				</tr>
				<tr>
					<td>22</td>
				</tr>
				<tr>
					<td>22</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>10</td>
				</tr>
				<tr>
					<td>22</td>
				</tr>
				<tr>
					<td>22</td>
				</tr>
				<tr>
					<td>22</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
			</table> -->
			<table>
				<tr>
					<th>(1)</th>
				</tr>
				<tr>
					<td>67</td>
				</tr>
				<tr>
					<td>56</td>
				</tr>
				<tr>
					<td>45</td>
				</tr>
				<tr>
					<td>34</td>
				</tr>
				<tr>
					<td>23</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(2)</th>
				</tr>
				<tr>
					<td>67</td>
				</tr>
				<tr>
					<td>56</td>
				</tr>
				<tr>
					<td>45</td>
				</tr>
				<tr>
					<td>34</td>
				</tr>
				<tr>
					<td>23</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(3)</th>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>11</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>11</td>
				</tr>
				<tr>
					<td>11</td>
				</tr>
				<tr>
					<td>11</td>
				</tr>
				<tr>
					<td>11</td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(4)</th>
				</tr>
				<tr>
					<td>11</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>11</td>
				</tr>
				<tr>
					<td>10</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>11</td>
				</tr>
				<tr>
					<td>11</td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(5)</th>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>33</td>
				</tr>
				<tr>
					<td>44</td>
				</tr>
				<tr>
					<td>55</td>
				</tr>
				<tr>
					<td>66</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(6)</th>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>45</td>
				</tr>
				<tr>
					<td>34</td>
				</tr>
				<tr>
					<td>23</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(7)</th>
				</tr>
				<tr>
					<td>67</td>
				</tr>
				<tr>
					<td>56</td>
				</tr>
				<tr>
					<td>45</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>23</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>25</td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(8)</th>
				</tr>
				<tr>
					<td>67</td>
				</tr>
				<tr>
					<td>56</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>34</td>
				</tr>
				<tr>
					<td>23</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>16</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(9)</th>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>34</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>14</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>14</td>
				</tr>
				<tr>
					<td>67</td>
				</tr>
				<tr>
					<td>73</td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(10)</th>
				</tr>
				<tr>
					<td>67</td>
				</tr>
				<tr>
					<td>56</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>34</td>
				</tr>
				<tr>
					<td>23</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>13</td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(11)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(12)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(13)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<!-- <table>
				<tr>
					<th>(14)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>22</td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td>22</td>
				</tr>
				<tr>
					<td>22</td>
				</tr>
				<tr>
					<td>22</td>
				</tr>
				<tr>
					<td>22</td>
				</tr>
				<tr>
					<td>22</td>
				</tr>
				<tr>
					<td>22</td>
				</tr>
			</table> -->
			<table>
				<tr>
					<th>(14)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>

			<table>
				<tr>
					<th>(15)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(16)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(17)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(18)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(19)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(20)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(21)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(22)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(23)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(24)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(25)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(26)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(27)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(28)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(29)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>(30)</th>
				</tr>
				<tr>
					<td>1234567</td>
				</tr>
				<tr>
					<td>123456</td>
				</tr>
				<tr>
					<td>12345</td>
				</tr>
				<tr>
					<td>1234</td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td>12</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</div>