<content class="pure-g abacus">
	<section class="pure-u-1 pure-u-md-3-4 pure-u-lg-2-3">
		<h1>Learning to Use the Abacus</h1>
		<h2>Why learn the Abacus?</h2>
		<p>The abacus is a tool that facilitates the mind in making calculations beyond what is typically possible. Although abacus users have the capability to do complex mathematics, it is the disipline itself that trains the student to expect more from themselves. A well trained abacus master does not need a physical abacus, rather they visualize it and manipulates the beads mentally. This level of skill is achieved through years of daily training to improve muscle memory, visualiation skills, and sharping their focus. It is popular to send young children to study the abacus in an attempt to boost their brain power and expose them to new challenges, in hopes they will learn good study practices and carry that with them through their life. </p>
	</section>
	<section class="pure-u-1 pure-u-md-3-4 pure-u-lg-2-3">
		<h2>How to Begin</h2>
		<p>There are two ways in which to approach your abacus journey: Join a club or DIY.</p>

		 <p>First would be to join one of the many abacus clubs that offer weekly classes. While it can be costly, they are sure to have a stepwise process for learning the required skills. Even learning the basic skills can take a year or two so it is important to discuss your expectations with the instructor. Every school has a different approach to teaching and choose to introduce visualization techniques at different times. There is also a lot of variation in finger movement technique from school-to-school with some schools using only two fingers and others using two hands. It is ideal, to meet with instructors from a number of different clubs to discus why their way is best. This will give a pretty good indication of whether they know what they are talking about.</p>


		 <p>Self taught or parent taught abacus is definitely possible, cheap but challenging. It is a years-long commitment that requires daily practice and drive to progress to new skills. </p>
	</section>
	<section class="pure-u-1 pure-u-md-3-4 pure-u-lg-2-3">
		<h2>Practicing and Progressing</h2>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</section>
</content>