<!-- <div class="custom-banner">	
</div> -->
<content class="levels" id="advanced-page">
	<section>
		<div>
		 	<h1>Advanced Worksheets</h1>		
			<p>This is the final step in learning to sum any three-digit numbers on the abacus. Questions get progressively more challenging as the <a href="http://localhost:4567/dir/skills.html">borrow movement</a> and <a href="http://localhost:4567/dir/skills.html">carry movement</a> are needed. Advanced worksheets are great preparation for the <a href="http://localhost:4567/dir/custom.html">Custom Generator</a>.</p>

			<!-- It will be helpful to read about how the <a href="http://localhost:4567/dir/skills.html">Big-friend concept</a> is used to implement the <a href="http://localhost:4567/dir/skills.html">Borrow and Carry movements</a> on the abacus. Practice each level repeatedly before moving to the next. An additional challenge is to go through each question without looking at the abacus until you have an answer. For more challenging questions, try out the <a href="http://localhost:4567/dir/custom.html">Custom Generator.</a></p> -->

			
		</div>
		<!-- <div>
			<h3>Pull-5</h3>
			<p>During addition Pull-5 occurs when the top bead is "pulled down" (added) while the small-friend value is subtracted from the bottom beads. An example is when 2 is on the abacus and we want to add 4. The small-friend of 4 is 1 so we would pull-down the top bead and subtract 1 of the bottom beads.</p>
		</div>
		<div>
			<h3>Break-5</h3>
			<p>When subracting, Break-5 occurs when the top bead is broken (subracted) and the small-friend value is added using the bottom beads. An example is when 5 is on the abacus and we want to subtract 1. The small friend of 1 is 4 so we break (subract) the top bead and add 4 bottom beads.</p>
		</div> -->
		
	</section>
	<section class="test">
		<div class="pure-g levels-button">
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button advanced">
					<h4>Level 1</h4>
					<p>Carry / Borrow:<br>double digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button advanced">
					<h4>Level 2</h4>
					<p>Carry / Borrow:<br>double digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button advanced">
					<h4>Level 3</h4>
					<p>Carry / Borrow:<br>double digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button advanced">
					<h4>Level 4</h4>
					<p>Carry / Borrow:<br>triple digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button advanced">
					<h4>Level 5</h4>
					<p>Carry / Borrow:<br>triple digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button advanced">
					<h4>Level 6</h4>
					<p>Carry / Borrow:<br>triple digit</p>
				</button>
			</div>
<!-- 			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button advanced">
					<h4>Level 7</h4>
					<p>double digit numbers<br>(up to 9)</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button advanced">
					<h4>Level 8</h4>
					<p>5 double digit numbers<br>(up to 9)</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button advanced">
					<h4>Level 9</h4>
					<p>triple digit numbers<br>(up to 9)</p>
				</button>
			</div> -->
		</div>
	</section>
	<section>
		<div class="arrow">
			<div class="arrow-left">
					<a href="http://localhost:4567/dir/intermediate.html">
					<h4>Intermediate</h4>
					<!-- <img src="../images/opoleft.svg"> -->
					<img src="../images/darkleft_1.svg">
					</a>
			</div>
		</div>
	</section>
</content>

<%= partial 'partials/modal' %>

