
<content class="custom">
	<section>
		<div>
			<h1>Custom Worksheet Generator</h1>
			<p>This worksheet generator allows students to choose a specific skill to study and the level of difficulty. The different techniques are best described on the <%= link_to 'abacus skills', '/dir/skills.html', :relative => true %> page.</p>
		</div>
	</section>

	<section>
		<form class="pure-g form">
			<div class="pure-u-1">
				<h1>Worksheet Generator</h1>
			</div>

			<div class="pure-u-1 check" role="radiogroup" aria-labelledby="targeted technique">
				<p>Targeted Technique:</p>
				<div class="operations">
					<div>
						<label class="check-cont">Direct
  						
  						<input type="radio" name="radio" id="direct" role="radio" aria-checked="false" tabindex="0">
  						
  						<span class="checkmark"></span>

  						</label>
					</div>

					<div>
						<label class="check-cont">Pull-5 / Break-5
  							<input type="radio" name="radio" id="pull-break">
  							<span class="checkmark"></span>
  						</label>
					</div>
					
					<div>
						<label class="check-cont">Borrow / Carry
  							<input type="radio" checked="checked" name="radio" id="carry-borrow">
  							<span class="checkmark"></span>
  						</label>
					</div>				
				</div>
			</div>

			<div class="pure-u-1 slidecontainer">
				<p>Numbers Per Question: &nbsp<span id="numbers" class="num"></span></p>
  				<input type="range" min="2" max="20" value="7" class="slider" id="numberRange">
			</div>

			<div class="pure-u-1 slidecontainer">
				<p>Digits Per Number: &nbsp<span id="digits" class="num"></span></p>
  				<input type="range" min="1" max="9" value="3" class="slider" id="digitRange">
			</div>
			
			<div class="pure-u-1 generate-button press-button">
				<button type="button" class="pure-button">
					<h4>Submit</h4>
				</button>
			</div>
		</form>
	</section>
</content>
<%= partial 'partials/modal' %>