<div class="custom-banner">	
</div>
<content class="levels" id="intermediate-page">
	<section>
		<div>
		 	<h1>Intermediate Worksheets</h1>		
			<p>In this chapter, it is time to master the <a href="http://localhost:4567/dir/skills.html">Pull-5 and Break-5 movements</a> on the abacus which make use of the <a href="http://localhost:4567/dir/skills.html">Small-friend</a> concept. Practice each level repeatedly before moving to the next. With some of the basics already under your belt, it is a good time to challenge yourself by going through each question without looking at the abacus until you have an answer.</p>

			<!-- <p>This is where the <a href="http://localhost:4567/dir/skills.html">Small-friend Concept</a> introduced on the abacus. Any number from 0 through 5 has a complementary small-friend value. For example, 2's small friend is 3 because they sum together to make 5. Understanding small-friend is essential to carry out the pull-5 and break-5 abacus movements.</p> -->
		</div>
		<!-- <div>
			<h3>Pull-5</h3>
			<p>During addition Pull-5 occurs when the top bead is "pulled down" (added) while the small-friend value is subtracted from the bottom beads. An example is when 2 is on the abacus and we want to add 4. The small-friend of 4 is 1 so we would pull-down the top bead and subtract 1 of the bottom beads.</p>
		</div>
		<div>
			<h3>Break-5</h3>
			<p>When subracting, Break-5 occurs when the top bead is broken (subracted) and the small-friend value is added using the bottom beads. An example is when 5 is on the abacus and we want to subtract 1. The small friend of 1 is 4 so we break (subract) the top bead and add 4 bottom beads.</p>
		</div> -->
		
	</section>
	<section class="test">
		<div class="pure-g levels-button">
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button intermediate">
					<h4>Level 1</h4>
					<p>Pull-5 / Break-5:<br>single digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button intermediate">
					<h4>Level 2</h4>
					<p>Pull-5 / Break-5:<br>single digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button intermediate">
					<h4>Level 3</h4>
					<p>Pull-5 / Break-5:<br>double digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button intermediate">
					<h4>Level 4</h4>
					<p>Pull-5 / Break-5:<br>double digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button intermediate">
					<h4>Level 5</h4>
					<p>Pull-5 / Break-5:<br>triple digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button intermediate">
					<h4>Level 6</h4>
					<p>Pull-5 / Break-5:<br>triple digit</p>
				</button>
			</div>
			<!-- <div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button intermediate">
					<h4>Level 7</h4>
					<p>double digit numbers<br>(up to 9)</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button intermediate">
					<h4>Level 8</h4>
					<p>5 double digit numbers<br>(up to 9)</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="pure-button modal-button intermediate">
					<h4>Level 9</h4>
					<p>triple digit numbers<br>(up to 9)</p>
				</button>
			</div> -->
		</div>
	</section>
	<section>
		<div class="arrow">
			<div class="arrow-left">
					<a href="http://localhost:4567/dir/beginner.html">
					<h4>Beginner</h4>
					<img src="../images/opoleft.svg">
					</a>
			</div>
			<div class="arrow-right">
				<a href="http://localhost:4567/dir/advanced.html">
				<h4>Advanced</h4>
				<img src="../images/oporight.svg">
				</a>
			</div>

		</div>
	</section>
</content>

<%= partial 'partials/modal' %>

