<content class="levels" id="intermediate-page">
	<section>
		<div>
		 	<h1>Intermediate Abacus Fundamentals Course</h1>	
		 	<p>This is the second chapter of the series focused on multi-digit addition and subtraction. Questions in the intermediate course are a little more challenging as they require the <%= link_to 'pull-5 and break-5 movements', '/dir/skills.html#pull-5-movement', :relative => true %>. Get to know the abacus a little better by going through each question without looking at the abacus.</p>			
		</div>		
	</section>

	<section class="test">
		<div class="pure-g levels-button">
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="modal-button intermediate" type="button" role="button" aria-label="intermediate level 1: pull-5 break-5">
					<h4>Level 1</h4>
					<p>Pull-5 / Break-5:<br>single digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="modal-button intermediate" type="button" role="button" aria-label="intermediate level 2: pull-5 break-5">
					<h4>Level 2</h4>
					<p>Pull-5 / Break-5:<br>single digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="modal-button intermediate" type="button" role="button" aria-label="intermediate level 3: pull-5 break-5">
					<h4>Level 3</h4>
					<p>Pull-5 / Break-5:<br>double digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="modal-button intermediate" type="button" role="button" aria-label="intermediate level 4: pull-5 break-5">
					<h4>Level 4</h4>
					<p>Pull-5 / Break-5:<br>double digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="modal-button intermediate" type="button" role="button" aria-label="intermediate level 5: pull-5 break-5">
					<h4>Level 5</h4>
					<p>Pull-5 / Break-5:<br>triple digit</p>
				</button>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3 press-button">
				<button class="modal-button intermediate" type="button" role="button" aria-label="intermediate level 6: pull-5 break-5">
					<h4>Level 6</h4>
					<p>Pull-5 / Break-5:<br>triple digit</p>
				</button>
			</div>
		</div>
	</section>

	<section>
		<div class="arrow">
			<div class="arrow-left">
					<a href="http://localhost:4567/dir/beginner.html" title="beginner abacus fundamentals course">
						<h4>Beginner Course</h4>
						<%= image_tag 'left_arrow.svg' %>
					</a>
			</div>
			<div class="arrow-right">
				<a href="http://localhost:4567/dir/advanced.html" title="advanced abacus fundamentals course">
					<h4>Advanced Course</h4>
					<%= image_tag 'right_arrow.svg' %>
				</a>
			</div>
		</div>
	</section>
</content>

<%= partial 'partials/modal' %>

