<content class="pure-g skills" >
	<section class="pure-u-1 pure-u-md-3-4 pure-u-lg-2-3">
		<h1>Custom Worksheet Generator</h1>
		<h2>How to Use this Generator</h2>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</section>
	<section class="pure-u-1 pure-u-md-3-4 pure-u-lg-2-3">
		<h2>How to Use this Generator</h2>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</section>
	<section class="pure-u-1 pure-u-md-3-4 pure-u-lg-2-3">
		<h2>How to Use this Generator</h2>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</section>
</content>