<div class="custom-banner">	
</div>
<content class="skills" >
	<section>
		<div>
			<h1>Fundamental Abacus Skills</h1>
			<h2>What are Small Friend and Big Friend?</h2>
			<p>Small Friend and Big Friend are fun ways of describing pairs of complementary numbers that add up to 5 and 10 respectively. Any number between 5 and zero have a Small Friend. For example, the Small Friend of 3 is 2 because they sum together to make 5. Any number between 10 and zero have a Big Friend. For example, the Big Friend of 4 is 6 because they sum together to make 10. An understanding of these basic math skills are a requirement for learning abacus and will become deep-rooted through daily worksheet practice.</p>
		</div>
	</section>
	<section>
		<div>
			<h2>How to Read the Abacus</h2>
			<p>The abacus is made up of columns of beads with each column representing a digit (0 - 9). The relative position of each column indicates its decimal position. For example, one column represents 1's, the column to its left represents 10's and the column to it's left represents 100's.</p>

			<p>To determine what digit is represented, bead position is examined.
			Each column is made up of 5 beads with the top, Heavenly, bead representing five and each bottom, Earthly, bead representing one.</p>
		</div>
	</section>
	<section>
		<div>
			<h2>What is meant by Add and Subtract Direct?</h2>
			<p>The first challenge for a new abacus student is to master.</p>
		</div>
	</section>
	<section>
		<div>
			<h2>Carry</h2>
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
	</section>
	<section>
		<div>
			<h2>Borrow</h2>
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
	</section>
	<section>
		<div>
			<h2>Pull 5</h2>
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
	</section>
</content>