/*Greens*/
/*Yellows*/
/*Whites*/
/*greys*/
/*blues*/
/*banner on the homepage*/
.banner {
  position: relative;
  width: 100%;
  height: 437px; }
  .banner div {
    position: absolute; }
  .banner div:not(:last-child) {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%; }
  .banner .background {
    background-image: url("../images/abacus.jpg");
    background-size: cover;
    z-index: 1; }
  .banner .overlay {
    background-image: url("../images/overlay.svg");
    background-size: 3px;
    z-index: 2; }
  .banner .tagline {
    z-index: 3;
    height: auto;
    top: initial;
    left: 5.5%;
    bottom: 5.5%; }
    .banner .tagline h1 {
      color: rgba(255, 255, 255, 0.9);
      font-size: 2.2em;
      font-family: 'Bree Serif', serif;
      text-transform: capitalize;
      text-shadow: 2px 2px 2px #133c2a;
      line-height: 1.4em; }

@media (min-width: 568px) {
  .banner div {
    bottom: 10vw; }

  .banner .tagline h1 {
    font-size: 2.2em; } }
@media (min-width: 768px) {
  .banner .tagline {
    bottom: 18%;
    left: 10%; } }
@media (min-width: 64em) {
  .banner {
    height: 553px; }
    .banner .tagline h1 {
      font-size: 2.6em; } }
/*button formatting*/
/*Assigns the main background color to the button and a double border which uses the background color and a border color. It also adds a border radius*/
/*homepage*/
/*feature icons*/
.features {
  padding-top: 0; }
  .features .icons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .features .icons div {
      text-align: center;
      width: 215px;
      margin-left: auto;
      margin-right: auto; }
    .features .icons img {
      width: 140px; }
  .features h3 {
    font-family: 'Raleway', sans-serif;
    color: #93785f;
    margin-bottom: 1em;
    font-weight: 500; }
  .features #customize, .features #target {
    margin-bottom: 3rem; }

@media (min-width: 768px) {
  .features {
    padding-right: 5.5%;
    padding-left: 5.5%; }
    .features .icons {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      max-width: none;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .features .icons img {
        width: 120px; }
      .features .icons div {
        margin: initial; }
    .features #customize, .features #target {
      margin-bottom: 0; }
    .features #target {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .features #difficulty {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .features #customize {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; } }
@media screen and (min-width: 64em) {
  .features {
    padding-right: 10vw;
    padding-left: 10vw; }
    .features h3 {
      font-size: 1.2em; } }
@media screen and (min-width: 80em) {
  .features .icons img {
    width: 180px; } }
/*levels*/
.home-levels {
  background-image: url("../images/course_background.jpg"); }
  .home-levels > div {
    max-width: 600px;
    margin-bottom: 3em;
    margin: auto; }
  .home-levels > div:not(:first-child) {
    margin: auto; }
  .home-levels h2, .home-levels p {
    color: rgba(255, 255, 255, 0.8); }
  .home-levels a {
    text-decoration: none; }
  .home-levels #home-page-level p {
    margin-bottom: 3rem; }
  .home-levels .level-button h4 {
    font-weight: 600;
    color: #133c2a; }
  .home-levels .level-button p {
    color: #133c2a;
    font-weight: 400;
    margin-top: 0.8em;
    font-size: 0.9em;
    line-height: 1.4em;
    padding-bottom: 0.5em; }
  .home-levels .level-button h3 {
    margin-top: 1em;
    font-size: 1.6em; }
  .home-levels .abacus-levels {
    width: calc(100% - 6px);
    margin: auto; }
    .home-levels .abacus-levels div:not(:last-child) {
      margin-bottom: 3rem; }
  .home-levels .level-button {
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    padding: 1em 2em 0.5em 2em;
    width: 100%;
    text-align: center; }
  .home-levels .level-button:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(0, 0, 0, 0.2)));
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)); }

@media (min-width: 568px) {
  .home-levels .level-button h3 {
    font-size: 1.8em; } }
@media screen and (min-width: 64em) {
  .home-levels {
    padding-left: 0;
    padding-right: 0; }
    .home-levels > div:first-child {
      margin-left: 10vw;
      max-width: 650px;
      margin-bottom: 4.5rem; }
    .home-levels #home-page-level p {
      margin-bottom: 3rem; }
    .home-levels .abacus-levels {
      max-width: none;
      width: calc(100vw - 20vw - 6px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .home-levels .abacus-levels div {
        width: 23vw; }
      .home-levels .abacus-levels div:not(:last-child) {
        margin-bottom: 0; } }
@media screen and (min-width: 80em) {
  .home-levels .level-button h3 {
    font-size: 2em; } }
/*Custom Worksheet Generator*/
.homepage-custom .custom-button a {
  text-decoration: none; }
.homepage-custom .custom-button div {
  background-color: #436355;
  border: 2px solid rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 0 3px #436355;
          box-shadow: 0 0 0 3px #436355;
  border-radius: 8px;
  background-color: #436355;
  width: 100%;
  text-align: center;
  margin: auto;
  position: relative;
  padding: 1em 2em 0.5em 2em; }
.homepage-custom .custom-button h2 {
  font-family: 'Open Sans', sans-serif;
  color: #fff; }
.homepage-custom .custom-button p {
  margin-top: 0.8em;
  font-size: 0.9em;
  line-height: 1.4em;
  padding-bottom: 0.5em;
  color: rgba(255, 255, 255, 0.8); }

@media screen and (min-width: 568px) {
  .homepage-custom h3 {
    font-size: 1.8em; } }
@media screen and (min-width: 64em) {
  .homepage-custom .custom-button {
    margin: auto;
    max-width: 600px; } }
@media screen and (min-width: 80em) {
  .homepage-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .homepage-custom h3 {
      font-size: 2em; } }
