---
title: Progressive Abacus
---




<div class="banner">
      <!-- <img src="/images/Happy-kids.jpg"> -->
      <div class="overlay"></div>
      <div class="background"></div>
      <div class="tagline">
        <h2>printable abacus<br> questions for all<br> skill levels</h2>
      </div>
</div>




<content class="home">
    <section class="homepage_abacus">
        <div>
          <h2>Abacus Worksheets that Target Specific Movements</h2>
          <p>Learning to use the abacus takes a lot of practice with the need to master one skill before starting on the next. Our worksheets are restricted to target the abacus movement you need to work on. Abacus students are encouraged to make their way through our leveled system to gain skills in a stepwise manor. If you know the movement you would like to work on, you have the option of using the <a href="http://localhost:4567/dir/custom.html">custom worksheet generator</a>.</p>
        </div>
    </section>

    <section class="features">
      <div class="icons">
        <div id="target">
          <h3>Targeted Skills</h3>
          <img src="/images/target1.svg">
        </div>
        <div id="customize">
          <h3>Custom Worksheets</h3>
          <img src="/images/custom2.svg">
        </div>
        <div id="difficulty">
          <h3>Choose the Difficulty</h3>
          <img src="/images/difficultymedium.svg">
        </div>
      </div>       
    </section>

  
    <section class="home-levels">
        <div id="home-page-level">
          <h2>Choose a Starting Point</h2>
          <p>Get abacus worksheets for your skill level by choosing the difficulty. As an approximate guide, beginners will be in their first year of abacus practice and intermediates will be in their second year. Each category contains nine levels which can be worked on at the student's own pace.</p>
        </div>
        <div class="abacus-levels">
          <div> <a href="http://localhost:4567/dir/beginner.html">
            <button class="level-button">
            <h3>Beginner</h3>
            <p>Build strong foundations with small friend big friend</p>
            </button></a>
          </div>
          <div><a href="http://localhost:4567/dir/levels.html#intermediate">
            <button class="level-button">
            <h3>Intermediate</h3> 
            <p>Borrow and carry from the 10s and 100s columns
            </button></a>
          </div>
          <div><a href="http://localhost:4567/dir/levels.html#advanced">
            <button class="level-button">
            <h3>Advanced</h3>
            <p>Test your limits with large numbers</p>
            </button></a>
          </div>
        </div>
    </section>


    <section class="homepage-custom">
      <div>
          <h2>Custom Worksheet Generator</h2>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="custom-button">   
          <a href="http://localhost:4567/dir/custom.html">
          <button >
          <h3>Customize</h3>
          </button>
          </a>
      </div>
    </section>

    
</content>





